.container {
  height: 100vh;
  flex-direction: column;
  background-color: #ffffff;
}

/* Navigation bar styles */
.container .nav-site {
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-bottom: 2px solid #e0e0e0; /* Adds a subtle bottom line */
}

.container .nav-site .connect_button {
  background-color: #225ba5; /* Button background */
  color: #ffffff; /* Text color */
  font-size: 1rem; /* Font size */
  cursor: pointer; /* Pointer cursor */
  z-index: 1; /* Ensure it's above other elements */
  max-width: fit-content; /* Fit content */
  margin-left: auto;
}

.container .nav-site .title {
    font-size: 2.5rem; /* Set the font size */
    font-weight: bold; /* Make the text bold */
    color: #000000; /* Set the text color to white */
}

.container .subtitle {
  font-size: 1.5rem; /* Taille de police légèrement plus petite que le titre */
  font-weight: normal; /* Poids de police normal */
  color: #000000; /* Couleur légèrement plus claire que le titre */
  text-align: center; /* Centrer le texte */
  margin: 10px 0; /* Ajouter un espace au-dessus et en dessous */
  padding: 5px 0; /* Ajouter un léger espacement interne */
}

.container .buttons-group {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  gap: 10px; /* Adds spacing between the buttons */
}

.container .button2 {
  font-size: 1rem;
  padding: 10px 20px;
  background-color: #225ba5;
  border: none;
  color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
  gap: 10px;
  display: flex;
}